.ajax-file-upload-statusbar {
	margin-top: 10px;
	width: 420px;
	margin-right: 10px;
	margin: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 5px 5px 5px
}
.ajax-file-upload-filename {
	width: 100%;
	height: auto;
	margin: 0 5px 5px 10px;
	color: #807579
}
.ajax-file-upload-progress {
	margin: 0 10px 5px 10px;
	position: relative;
	width: 250px;
	padding: 1px;
	border-radius: 3px;
	display: inline-block
}
.ajax-file-upload-bar {
	background-color: #0ba1b5;
	width: 0;
	height: 20px;
	border-radius: 3px;
	color:#FFFFFF;
}
.ajax-file-upload-percent {
	position: absolute;
	display: inline-block;
	top: 3px;
	left: 48%
}
.ajax-file-upload-red {
	-moz-box-shadow: inset 0 39px 0 -24px #e67a73;
	-webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
	box-shadow: inset 0 39px 0 -24px #e67a73;
	background-color: #e4685d;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	color: #fff;
	font-size: 13px;
	font-weight: normal;
	padding: 4px 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 #b23e35;
	cursor: pointer;
	vertical-align: top;
	margin-right:5px;
}
.ajax-file-upload-green {
	background-color: #77b55a;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 0;
	display: inline-block;
	color: #fff;
	font-size: 13px;
	font-weight: normal;
	padding: 4px 15px;
	text-decoration: none;
	cursor: pointer;
	text-shadow: 0 1px 0 #5b8a3c;
	vertical-align: top;
	margin-right:5px;
}
.ajax-file-upload {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	cursor:pointer;	
	line-height:20px;
	height:25px;
	margin:0 10px 10px 0;
 	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 6px 10px 4px 10px;
	color: #fff;
	background: #2f8ab9;
	border: none;
	-moz-box-shadow: 0 2px 0 0 #13648d;
	-webkit-box-shadow: 0 2px 0 0 #13648d;
	box-shadow: 0 2px 0 0 #13648d;
	vertical-align:middle;
}
  
.ajax-file-upload:hover {
	background: #3396c9;
	-moz-box-shadow: 0 2px 0 0 #15719f;
	-webkit-box-shadow: 0 2px 0 0 #15719f;
	box-shadow: 0 2px 0 0 #15719f;
}

.ajax-upload-dragdrop {
	color: #DADCE3;
	text-align:left;
	vertical-align:middle;
	padding:10px 10px 0px 10px;
}