.main-container {
	height: auto;
	min-height: 100%;
	margin-bottom: 120px;
}
.main-review-panel {
    max-height: 768px;
    height: 500px;
    margin-bottom: 10px;
}
.main-review-panel .review-panel {
    padding: 20px;
    background: rgba(0,0,0,0.34);
    box-shadow: inset 0 0 15px black;
    border-radius: 0;
    height: 100%;
    position: relative;
    transition: all 0.4s;
}
.main-review-panel .review-panel .review-i {
    position: absolute;
    bottom: 20px;
    height: 250px;
}
.review-i .review-title,
.review-i .review-description {
    background: rgba(0,0,0,0.5);
    padding: 0 10px;
    color: white;
	max-width: 500px;
}
.review-i .review-title h2 {
    color: white;
}

.review-a {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.review-a .review-author {
    color: white;
    font-weight: bold;
    font-size: 24px;
    background: rgba(0,0,0,0.5);
    padding: 10px;
}

.review-link:hover .review-panel {
    box-shadow: inset 0 0 30px black;
    background: rgba(0,0,0,0.44);
}

.review-author-avatar {
	position: absolute;
	top: 0px;
	right: 0px;
	max-height: 500px;
}

.image-preview {
	text-align: center;
	padding: 15px;
	box-shadow: inset 2px 2px 4px -2px;
}
.mini-reviews-panel {
	margin-bottom: 10px;
}
.mini-reviews-panel .review-link {
	max-width: 280px;
	height: 145px;
	display: block;
	margin: 0 auto;
	vertical-align: top;
	position: relative;
}

.mini-reviews-panel .mini-review-image {
	max-width: 280px;
	height: 145px;
	overflow: hidden;
	background: black;
}
.mini-reviews-panel .mini-review-image:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.14);
	box-shadow: inset 0 0 15px black;
	transition: all 0.4s;
}
.mini-reviews-panel .review-link:hover .mini-review-image:before {
	background: rgba(0,0,0,0.34);
	box-shadow: inset 0 0 30px black;
}

.mini-review-info {
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.3);
	width: 100%;
	color: white;
	padding: 5px;
    text-align: right;
}
.mini-review-desc {
	font-size: 12px;
	text-align: right;
}


.image-preview .image-name input {
	height: 58px;
}
body {
    background: rgb(8, 30, 47);
}
#header,
#container,
#footer .center-row {
	max-width: 1200px;
	margin: 0 auto;
}
#header {
	max-width: 1210px;
	z-index: 100;
	position: relative;
	border-bottom: 4px solid #333;
}

article.review {
    background: white;
	border-right: 5px inset rgb(165, 46, 16);
}
article.review .review-head {
    padding: 10px 20px 5px;
    border-bottom: 7px solid rgb(165, 46, 16);
    display: inline-block;
    margin-bottom: 50px;
	float: left;
}
article.review .review-footer {
    background: lightgrey;
    overflow: hidden;
}
article.review .review-footer .review-tags {
    margin: 10px;
    display: inline-block;
	line-height: 38px;
}
article.review .review-body figure.image {
	border: 1px solid rgb(165, 46, 16);
	padding: 10px;
	display: block;
	border-radius: 5px;
}
article.review .review-body img {
	display: block;
	width: 800px;
	margin: 0 auto;
}
article.review .review-body {
	padding: 0 15px;
	margin-top: 30px;
}

article.review .review-tag:hover {
	box-shadow: 0 3px 1px;
}
article.review .review-footer-info {
	font-style: italic;
	font-size: 15px;
	text-align: right;
	color: white;
	background: rgb(8, 30, 47);
}
article.review .review-author,
.review-list-info .review-list-author {
	padding: 0 15px;
	display: inline-block;
	font-style: italic;
	float: right;
}
article.review .review-count,
.review-list-info .review-list-count {
	padding: 0 15px;
	display: inline-block;
	border-right: 2px solid rgb(165, 46, 16);
}
.review-footer .review-tags .review-tag {
	font-style: italic;
	color: #008cba;
	background: rgba(255,255,255,0.2);
	padding: 5px;
	margin: 2px;
	border-radius: 5px;
	border-bottom: 1px solid;
	box-shadow: 0 2px;
	transition: all 0.2s;
}

#footer {
	max-width: 100%;
	width: 100%;
	background: #333333;
	min-height: 120px;
	border-top: 6px solid rgb(165, 46, 16);
	margin-top: -120px;
}
.editor-ui label {
	font-weight: bold;
	font-size: 16px;
}

.review-list-wrapper {
	padding: 20px;
	background: white;
	position: relative;
	margin: 15px 0;
	transition: all 0.4s;
	border-right: 4px inset rgb(165, 46, 16);
	border-bottom: 4px inset rgb(165, 46, 16);
	border-radius: 0 0 0 5px;
}
.review-hours-score {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px 25px 10px;
	font-size: 50px;
	background: rgb(8, 30, 47);
	border-radius: 0 0 0 5px;
	border-bottom: 4px solid rgb(165, 46, 16);
	border-left: 4px solid rgb(165, 46, 16);
	margin-right: -4px;
}
.review-list-link:hover .review-list-wrapper {
	box-shadow: inset 0 0 15px black;
}

.review-list-wrapper .review-list-image {
	display: inline-block;
	width: 280px;
	height: 160px;
	overflow: hidden;
	float: left;
}

.review-list-body {
	display: inline-block;
	float: left;
	max-width: 600px;
	margin-left: 20px;
}
.review-list-body .review-list-title h3 {
	border-bottom: 4px solid rgb(165, 46, 16);
	display: inline-block;
}

.review-list-body .review-list-info {
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 10px;
	font-style: italic;
	font-size: 13px;
}
.review-score {
	float: right;
	padding: 10px 0 5px 20px;
}
.review-score .score {
	max-width: 500px;
	float: right;
	background: rgb(8, 30, 47);
	color: white;
	padding: 0 5px 0 20px;
	border: 5px solid rgb(165, 46, 16);
	border-right: 0;
	margin-right: -5px;
}

.hours-wrapper .hours-played,
.hours-wrapper .hours-wasted {
	font-size: 25px;
	font-style: italic;
	display: inline-block;
	float: left;
	line-height: 50px;
	width: 100px;
	text-align: center;
}
.hours-wrapper .hours-played {
	background: green;
}
.hours-wrapper .hours-wasted {
	background: rgb(165, 46, 16);
}

.review-score .score .score-slash {
	font-size: 50px;
	display: inline-block;
	float: left;
	margin: 0 10px;
	line-height: 60px;
}

.hours-wrapper {
	float: left;
	width: 200px;
	margin-right: 20px;
}
.hours-wrapper h4 {
	color: white;
	text-align: center;
	border-bottom: 6px solid rgb(165, 46, 16);
	margin-bottom: 0;
}
.hours-score {
	font-size: 50px;
	text-align: center;
	margin-top: 6px;
	/*background: rgba(165,46,16,.7);*/
}

.review-score .score .score-wrapper {
	float: right;
}

.score-line {
	padding: 0 10px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	width: 200px;
	height: 30px;
	margin: 10px 0;
	border-bottom: 1px dotted rgb(165, 46, 16);
}

span.score-number {
	font-style: italic;
	font-size: 30px;
	float: right;
}
span.spoilers {
	background: rgb(165, 46, 16);
	padding: 10px 20px 5px;
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 2.75rem;
	float: right;
}

.hours-percent-line {
	width: 100%;
	background: rgb(165, 46, 16);
	height: 6px;
	margin-bottom: 5px;
}

.hours-percent-line span {
	background: green;
	height: inherit;
	display: block;
}
.top-bar-section li a:not(.button) {
	transition: all 0.2s;
}
.top-bar-section li a:not(.button):hover {
	border-bottom: 4px solid rgb(165, 46, 16);
	margin-bottom: -4px;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background: none;
	color: #fff;
	border-bottom: 4px solid rgb(165, 46, 16);
	margin-bottom: -4px;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
	padding: 0 15px;
	line-height: 45px;
	color: #fff;
	background: none;
	border-bottom: 4px solid rgb(165, 46, 16);
}

.center-row .columns {
	margin-top: 20px;
}
.center-row .columns h3 {
	color: white;
}

.gsc-input input {
	margin-bottom: 0;
}

.gsc-control-cse .gsc-option-menu-container .gsc-selected-option-container {
	width: auto!important;
}
.gsc-search-box {
	background: transparent;
}

.gsc-clear-button {
	display: none;
}
.gsc-wrapper .gsc-results .gsc-cursor-box .gsc-cursor-page {
	border-radius: 3px;
	background: lightblue;
	color: black;
	text-shadow: 0 0 0;
	border: none;
	font-weight: 400;
	text-align: center;
	width: 20px;
	line-height: 25px;
	height: 25px;
	display: inline-block;
}

#footer .gsc-search-box td.gsc-input {
	padding-right: 0;
}
#footer .gsc-search-box td.gsc-search-button {
	padding-left: 0;
}
.gsc-search-box input.gsc-search-button {
	padding: 12px;
	height: auto;
	background: rgb(165, 46, 16)
}


.main-layout {
	overflow: hidden;
}

.review-flags-block {
	float: left;
}
.flags-block {
	position: absolute;
	top: 0;
	right: 0;
}
.flags-block img {
	width: 60px;
}

.copyright {
	color: white;
}
.info-email {
	color: white;
	display: block;
}

.user-image {
	position: absolute;
	right: 125px;
	top: 0;
}

.scripts {
	float: right;
	margin-right: 5px;
}
.socicon-icon {
	font-size: 30px;
	color: rgb(165, 46, 16);
	border-radius: 100%;
	padding: 10px;
	box-shadow: 2px 2px 5px -3px;
	transition: all 0.4s;
}
.socicon-icon:hover {
	color: rgb(8, 30, 47);
}